.formparent{
    background-color: #26263d;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

label{
    color:white;
}

.formrow{
    height: 85.58vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07071c;
    margin-top: 100px;
}